<section>
    <h3>info colega</h3>
    <div>
        <ng-container *ngFor="let user of userList">
            <ng-container *ngIf="user.seleccionado === true">
                <div>
                    <img src={{user.userImage}} alt="foto-perfil" width="70" height="70">
                    <button (click)="deleteUser(user)">eliminar amistad</button>
                    <p>Nombre: {{user.name}}</p>
                    <p>Apellido: {{user.surname}}</p>
                    <p>Fecha de nacimiento: {{user.birthDate}}</p>
                    <p>Fecha de inicio en FreeforAll: {{user.startDate}}</p>
                </div>
            </ng-container>
        </ng-container>
    </div>
</section>