<app-encabezado></app-encabezado>
<main>
    <article>
        <form>
            <fieldset>
                <legend>Dí algo</legend>
                <input type="textarea"><button>Publicar historieta</button>
            </fieldset>
        </form>
    </article>
    <section>
        Mis Historietas
        <article>
            <div>historieta 1</div>
            <div>historieta 2</div>
        </article>
    </section>
    <section>
        Mis Coleguillas
        <article>
            <div>colega 1</div>
            <div>colega 2</div>
        </article>
    </section>
    <article>

    </article>



</main>