<header>
    <app-pagina-select></app-pagina-select>
</header>
<main>
    <section *ngIf="login">
        <div></div>
        <div><img [src]="login.userImage" width="300" height="300"></div>
        <div><span id="nombre">{{login.name}} {{login.surname}}</span></div>
    </section>
    <app-datos-personales [showAll]="false"></app-datos-personales>
    <article id="lista">
        <h3>Historietas</h3>
        <ul>
            <ng-container *ngFor="let historia of historietas">
                <ng-container *ngIf="historia.author === 'Agurex'">
                    <li>
                        <p>{{historia.content}}</p>
                        <p>{{historia.date}}</p>
                    </li>
                </ng-container>
            </ng-container>
        </ul>
    </article>
    <app-mis-coleguillas></app-mis-coleguillas>
</main>