@import url('https://fonts.googleapis.com/css?family=Exo+2|Maven+Pro&display=swap');
* {
    border-radius: 10px;
    padding: 10px;
}

#lista {
    height: 10em;
    border: grey solid 1px;
    overflow: scroll;
    box-shadow: 0 -5px 20px grey;
}


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

 ::-webkit-scrollbar-track {
    display: none;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    width: 9px;
    height: 15px;
    border-radius: 25%;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul {
    list-style: none;
}

h3 {
    font-family: 'Exo 2', sans-serif;
}

p,
span {
    font-family: 'Maven Pro', sans-serif;
}

#nombre {
    font-size: xx-large;
}