<section>
    <h3>info posible colega</h3>
    <ng-container *ngFor="let user of userList">
        <ng-container *ngIf="user.id != 1 && user.friend === false">
            <div>
                <img src="{{user?.userImage}}" alt="foto-perfil" width="70" height="70">
                <span> {{user.name}}</span>
                <span> {{user.surname}}</span><br>
                <!-- <p *ngIf="user.id != 1 && user.friend === false">Fecha de nacimiento: {{user.birthDate}}</p>
                <p *ngIf="user.id != 1 && user.friend === false">Fecha de inicio en FreeforAll: {{user.startDate}}</p> -->
                <button (click)="addFriend(user)">Solicitar amistad</button>
            </div>
        </ng-container>
    </ng-container>
</section>