@import url('https://fonts.googleapis.com/css?family=Exo+2|Maven+Pro&display=swap');
div {
    width: 95%;
    border: black solid 2px;
    position: relative;
    left: 2.5%;
    background-color: white;
}

footer {
    position: sticky;
    padding: 2.5%;
    background-color: rgb(237, 237, 245);
    top: 92.5%;
    width: 100%;
    text-align: center;
}

span {
    color: rgb(0, 0, 0);
}

* {
    border-radius: 10px;
}

span {
    font-family: 'Exo 2', sans-serif;
}