@import url('https://fonts.googleapis.com/css?family=Exo+2|Maven+Pro&display=swap');
section {
    border: grey solid 1px;
    box-shadow: 0 -10px 20px grey;
}

div:hover {
    background-color: rgba(255, 255, 0, 0.356);
}

.selected {
    background-color: rgba(154, 209, 82, 0.486);
}

.usuario {
    background-color: rgb(255, 255, 255);
}

* {
    border-radius: 10px;
    padding: 5px;
}

h3 {
    font-family: 'Exo 2', sans-serif;
}

p,
span {
    font-family: 'Maven Pro', sans-serif;
}