<article>
    <form>
        <fieldset>
            <legend>Dí algo</legend>
            <input type="text" [(ngModel)]="mensaje.contenido" name="historia" /><br>
            <button type="submit" (click)="onSubmit()">Publicar historieta</button>
        </fieldset>
    </form>
</article>
<article>
    Mis Historietas
    <ul>
        <li *ngFor="let historia of historietas">
            <p>{{historia.content}}</p>
            <p>{{historia.date}}</p>
            <p><em>{{historia.author}}</em></p>
        </li>
    </ul>
</article>