<article>
    <form>
        <fieldset>
            <legend>
                <h3>Dí algo</h3>
            </legend>
            <textarea cols="50" rows="3" [(ngModel)]="mensaje.contenido" name="historia"></textarea><br>
            <button type="submit" (click)="onSubmit()">Publicar historieta</button>
        </fieldset>
    </form>
</article>
<article id="lista">
    <h3>Historietas</h3>
    <ul>
        <li *ngFor="let historia of historietas">
            <p>{{historia.content}}</p>
            <p>{{historia.date}}</p>
            <p><em>{{historia.author}}</em></p>
        </li>
    </ul>
</article>